    @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        }

    header{
        text-align: center;
        background: linear-gradient(to bottom, rgb(103, 250, 103), white);
        padding: 30px;
    
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .tittle{
        font-family:"Bungee Shade";
        color: rgb(29, 119, 11);
        text-shadow: 2px 5px 6px rgb(37, 117, 16);
    }
    
    nav{
    margin-top: 50px;
    
    }
    
    nav a{
        color: rgb(87, 210, 30);
        text-decoration: none;
        margin: 30px;
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    nav a:hover{
    color:rgb(29, 119, 11);
    font-weight: bold;
    }
    
    section{
        width: 100%;
        height: fit-content;
        text-align: center;
        padding: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background: linear-gradient(to bottom,rgb(103, 250, 103),white);
        font-size: 30px;
        color: rgb(13, 121, 27);
    }
    
    section h1{
        margin-bottom: 20px;
        text-shadow: 2px 5px 6px rgb(99, 214, 114);
    }
    
    .section-imagem1, .section-imagem2, .section-imagem3, .section-imagem4, .section-imagem5 {
        width: 100%;
        height: 500px;
        text-align: center;
        padding: 40px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-shadow: 2px 5px 6px black;
        color: whitesmoke;
        border-radius: 20px;
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    }

    .section-imagem1 {
        background-image: url("img/1.png");
    }
    
    .section-imagem2{
    background-image: url("img/2.png");
    }
    
    .section-imagem3{
    background-image: url("img/3.png");
    }
    
    .section-imagem4{
    background-image: url("img/4.png");
    
    }

    .section-imagem5 {
        background-image: url("img/5.png");
        
    }
    footer{
        font-family:'Times New Roman', Times, serif;
        color:  rgb(12, 82, 0);
        text-shadow: 2px 5px 6px rgb(51, 165, 22);
        text-align: center;
        font-size: 13px;
    }

    .FullScreen {
        border: 2px solid white;
        border-radius: 100px;
        background-color: rgb(0, 75, 0);
        padding: 24px;
        text-decoration: none;
        color: white;
    }
    .FullScreen:hover {
        background-color: rgb(0, 200 ,0);
    }
    
    .Play {
        text-decoration: none;
        color: rgb(13, 121, 27);
    }
    .Play:hover {
        color: rgb(18, 168, 38);
    }